/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-500.woff2") format("woff2");
}
:root {
  --qwik-dark-blue: #66d9ef;
  --qwik-light-blue: #a6e22e;
  --qwik-light-purple: #f92672;
  --qwik-dark-purple: #ae81ff;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #272822;
  --qwik-dark-text: #ffffff;
  font-family: "Poppins", sans-serif;
}

.btn {
  @apply text-bg1 bg-primary hover:brightness-125 cursor-pointer focus:ring-4 focus:ring-accent1 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none;
}
.input {
  @apply bg-bg2 border border-bg2 focus:ring-2 text-bg1 text-sm rounded-lg focus:ring-primary focus:border-primary block p-2.5 disabled:bg-bg2 disabled:cursor-not-allowed;
}
